body{
  background-color: black;
}
.main-content{
  margin-left:250px;
  background-color: black;
  height: 70vh;
  width: 100vh;
  margin: 100px;
  flex: 1;
}

.item{
}

/* Contêiner de grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  gap: 20px; /* Espaçamento entre os itens */
  width: 100%; /* Ocupa toda a largura */
  max-width: 800px; /* Largura máxima do contêiner */
  margin: 0 auto; /* Centraliza a div */
  padding: 20px;
  height: 400px;
  align-items: center;
}

/* Estilos para os itens */
.item {
  background-color: #3498db;
  color: black;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  height: 200px;
  font-size: xx-large;

}

/* Menu lateral */
.sidebar {
  height: 100vh; /* 100% da altura da tela */
  width: 250px; /* Largura do menu */
  background-color: #333; /* Cor de fundo do menu */
  color: white;
  position: fixed; /* Fixa o menu na lateral */
  top: 0;
  left: 0;
  flex-direction: column; /* Organiza os itens do menu em coluna */
  justify-content: center; /* Alinha os itens no centro verticalmente */
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar o menu */
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para os itens do menu */
.sidebar ul {
  list-style-type: none; /* Remove os marcadores */
  padding: 0;
}

.sidebar ul li {
  padding: 25px;
  text-align: center;
  font-size:xx-large;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #575757; /* Cor de fundo ao passar o mouse */
}

/* Estilos para o conteúdo principal */
.content {
  margin-left: 250px; /* Deixa espaço para o menu lateral */
  padding: 20px;
  flex: 1; /* Ocupa o restante do espaço */
}

h1 {
  color: #333;
}

 .outset {
    border-style: outset;
  }

  .tudo {
    font-family: "Roboto", sans-serif;
  }

  #h1-home{
    font-weight: bold;
  }

.justified-center {
  text-align: center;
}

.logo-isi-menu {
    height: 70px;
}

.branco {
    fill: white;
    color: white;
}

.logo-nome-navbar {
    height: 20px;
    margin: 0 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.interior-cadastro {
  display: flex;
  flex-direction: column;

}

#container-home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 80%;
  align-items: center;
}

.paragrafo-home {
  font-size: 1.5rem;
}

.nav-link {
    font-size:x-large !important;
}

.round-corner {
  border-radius: 50px;;
}

.div-container {
    display: flex;
    justify-content: center;
    align-items: top;
}

.main-div {
    background-color: white;
    width: 480px;
    height: 640px;
}